{% extends 'base.html.twig' %}

{% block body %}
    <h1>Doctors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            <tr>
                <td><a href="{{ path('doctor_show', { 'id': doctor.id }) }}">{{ doctor.id }}</a></td>
                <td>{{ doctor.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('doctor_show', { 'id': doctor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('doctor_edit', { 'id': doctor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('doctor_new') }}">Create a new doctor</a>
        </li>
    </ul>
{% endblock %}
