{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hospitals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hospital in hospitals %}
            <tr>
                <td><a href="{{ path('hospital_show', { 'id': hospital.id }) }}">{{ hospital.id }}</a></td>
                <td>{{ hospital.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('hospital_show', { 'id': hospital.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('hospital_edit', { 'id': hospital.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hospital_new') }}">Create a new hospital</a>
        </li>
    </ul>
{% endblock %}
